<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">Buat Daftar Baru</h1>
    <div class="field is-grouped">
      <p class="control is-expanded">
        <input #listInputValue class="input has-background-light is-medium" type="text"
          placeholder="Masukkan daftar baru di sini . ." (keydown.enter)="createNewList(listInputValue.value)">
      </p>
    </div>

    <div class="buttons is-right">
      <button class="button is-medium" routerLink="/">Kembali</button>
      <button class="button is-warning is-medium has-text-white"
        (click)="createNewList(listInputValue.value)">Tambah</button>
    </div>

  </div>
</div>
